manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: petejohanson
      url-base: https://github.com/petejohanson  # Add this remote

  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.3
      import: app/west.yml
    - name: poor-mans-led-indicator
      remote: petejohanson
      revision: main
      import: app/west.yml

  self:
    path: config