manifest:
  defaults:
    revision: v0.3
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      import: app/west.yml
    - name: zmk-stryke
      remote: zmkfirmware   # or your fork if shield code is here
      revision: main        # or whichever branch/tag
      path: config          # local path for this repo
  self:
    path: config
