if SHIELD_STRYKE

config ZMK_DISPLAY
    default y

if LVGL
config LV_Z_VDB_SIZE
    default 64

config LV_Z_DPI
    default 148

config LV_Z_BITS_PER_PIXEL
    default 1

endif # LVGL

endif # SHIELD_STRYKE