if SHIELD_STRYKE

config ZMK_KEYBOARD_NAME
    default "stryke"

# These drivers are required for the pulsing LED effect
config PWM
    default y

config LED_PWM
    default y

# Display / LVGL Tuning
if LVGL
config LV_Z_VDB_SIZE
    default 64

config LV_Z_DPI
    default 148

config LV_Z_BITS_PER_PIXEL
    default 1

config LV_COLOR_DEPTH_1
    default y
endif # LVGL

endif # SHIELD_STRYKE