#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

&pinctrl {
    /* Reassign QSPI to unused pins to free up 0.29 (now used for Row 2) */
    qspi_default: qspi_default {
        group1 {
            psels = <NRF_PSEL(QSPI_SCK, 0, 5)>,
                    <NRF_PSEL(QSPI_IO3, 0, 7)>,
                    <NRF_PSEL(QSPI_CSN, 0, 12)>;
        };
    };
    
    qspi_sleep: qspi_sleep {
        group1 {
            psels = <NRF_PSEL(QSPI_SCK, 0, 5)>,
                    <NRF_PSEL(QSPI_IO3, 0, 7)>,
                    <NRF_PSEL(QSPI_CSN, 0, 12)>;
            low-power-enable;
        };
    };
};

&qspi {
    status = "disabled";
};

/ {  
    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row"; 
        poll-period-ms = <10>;

        /* Updated Rows: 1.00 -> 1.15, 0.11 -> 0.02, 1.04 -> 0.29 */
        row-gpios = <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, 
                    <&gpio0 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, 
                    <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        /* Updated Cols: 0.17 -> 0.09, 0.20 -> 0.10, 0.22 -> 1.11, 0.24 -> 1.13 */
        col-gpios = <&gpio0 9  GPIO_ACTIVE_LOW>, 
                    <&gpio0 10 GPIO_ACTIVE_LOW>, 
                    <&gpio1 11 GPIO_ACTIVE_LOW>, 
                    <&gpio1 13 GPIO_ACTIVE_LOW>;
    };
    
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <4>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "NexusPro";
        transform = <&default_transform>;
        kscan = <&default_kscan>;
        keys 
            = <&key_physical_attrs 100 100     0    0       0     0     0>
            , <&key_physical_attrs 100 100   100    0       0     0     0>
            , <&key_physical_attrs 100 100   200    0       0     0     0>
            , <&key_physical_attrs 100 100   300    0       0     0     0>
            , <&key_physical_attrs 100 100     0   100      0     0     0>
            , <&key_physical_attrs 100 100   100   100      0     0     0>
            , <&key_physical_attrs 100 100   200   100      0     0     0>
            , <&key_physical_attrs 100 100   300   100      0     0     0>
            , <&key_physical_attrs 100 100     0   200      0     0     0>
            , <&key_physical_attrs 100 100   100   200      0     0     0>
            , <&key_physical_attrs 100 100   200   200      0     0     0>
            , <&key_physical_attrs 100 100   300   200      0     0     0>
            ;
    };
};