#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,matrix-transform = &default_transform;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row"; 
        poll-period-ms = <10>;

       row-gpios = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  // P1.00 -> TX (Pin 1)
            <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, // P0.11 -> MISO (Pin 14)
            <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; // P1.04 -> SCLK (Pin 15)

        col-gpios = <&pro_micro 18 GPIO_ACTIVE_HIGH>, // P0.17 -> A0 (Pin 18)
                    <&pro_micro 19 GPIO_ACTIVE_HIGH>, // P0.20 -> A1 (Pin 19)
                    <&pro_micro 20 GPIO_ACTIVE_HIGH>, // P0.22 -> A2 (Pin 20)
                    <&pro_micro 21 GPIO_ACTIVE_HIGH>; // P0.24 -> A3 (Pin 21)
    };
    
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <4>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3)
        >;
    };
};