#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // C_AC_HOME triggers the "Consumer Application Control Home" (Default Browser)
            bindings = <&kp C_AC_HOME>;
        };
    };
};