#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_layer_activate {
            timeout-ms = <50>;
            key-positions = <8 10>;
            bindings = <&mo 1>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            display-name = "Media";
            bindings = < 
                &kp PLAY_PAUSE    &kp PREV_TRACK    &kp NEXT_TRACK    &kp MUTE
                &kp VOL_DOWN      &kp VOL_UP        &kp REWIND        &kp FAST_FORWARD
                &kp STOP          &kp PAUSE         &kp RECORD        &mo 1
            >;
        };
        
        layer_1 {
            display-name = "KiCad";
            bindings = <
                &kp R    &kp M    &kp G    &kp DEL
                &kp V    &kp E    &kp X    &kp W
                &kp B    &kp F    &kp H    &mo 2
            >;
        };
        
        layer_2 {
            display-name = "Fusion";
            bindings = <
                &kp S    &kp R    &kp L    &kp D
                &kp E    &kp Q    &kp F    &kp LG(Z)
                &kp LG(1) &kp LG(2) &kp LG(0) &mo 3
            >;
        };
        
        layer_3 {
            display-name = "VS Code";
            bindings = <
                &kp LG(P)    &kp LG(LS(P))    &kp LG(B)    &kp LG(SLASH)
                &kp LG(D)    &kp LG(LS(L))    &kp LG(F)    &kp LG(Z)
                &kp LC(GRAVE) &kp LG(LS(F))   &kp LG(LS(E)) &mo 4
            >;
        };
        
        layer_4 {
            display-name = "Arduino";
            bindings = <
                &kp LG(R)    &kp LG(U)    &kp LG(LS(M))    &kp LG(K)
                &kp LG(T)    &kp LG(Z)    &kp LG(LS(Z))    &kp LG(F)
                &kp LG(N)    &kp LG(O)    &kp LG(S)        &trans
            >;
        };
    };
};